.main_home {
	margin: 2rem 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}

/*=============== Banner ================*/
#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--main-navbar-width);
	margin: auto;
	aspect-ratio: 3/1;
	position: relative;
}

.banner_img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
	transition: all .2s ease-in;
}

#banner .arrow {
	position: absolute;
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 98%;
	color: white;
	font-size: 4rem;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
	cursor: pointer;
}

#banner .arrow_left {
	left: 0;
}

#banner .arrow_right {
	right: 0;
}

.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
}

.dot {
	margin-inline: 5px;
	width: 13px;
	aspect-ratio: 1/1;
	background-color: #fffffff7;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.dot_selected {
	background-color: #d6d6d6;
}

@media screen and (max-width: 1200px) {
	#banner {
		width: 100%;
		aspect-ratio: 2/1;
	}

}

@media screen and (max-width: 780px) {
	.dots {
		bottom: 20px;
	}

	.dot {
		width: 10px;
	}
}

@media screen and (max-width: 480px) {
	.dots {
		bottom: 20px;
	}

	.dot {
		width: 7px;
	}
}

/* ============ Current Offers ============*/
.container {
	position: relative;
	margin: auto;
	width: var(--main-navbar-width);
	height: 300px;
	overflow: hidden;
}

.slider {
	height: 100%;
}

.slider_track {
	position: relative;
	left: 0;
	height: inherit;
	display: flex;
	gap: 1.5rem;
	list-style-type: none;
	transition: transform 0.8s;
}

.slider_track .item {
	min-width: 18%;
	background-position: center;
	background-size: cover;
}

.btn {
	position: absolute;
	top: 50%;
	width: 2.3rem;
	height: 2.3rem;
	display: grid;
	place-items: center;
	border: none;
	border-radius: 50%;
	opacity: 0.8;
	cursor: pointer;
	transition: opacity 0.3s;
}

.btn:hover {
	opacity: 1;
}

.btn:nth-of-type(1) {
	left: 2vmin;
}

.btn:nth-of-type(2) {
	right: 2vmin;
}

@media screen and (max-width: 1000px) {
	
	.slider-track .item {
		min-width: 50%;
	}
}

@media screen and (max-width: 700px) {
	.slider-track {
		left: calc(-200% - var(--gap) * 2);
	}

	.slider-track .item {
		min-width: 100%;
	}
}