.card-wrapper{
    --main-navbar-width: 100rem;
}

.card-wrapper *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
.card-wrapper{
    max-width: var(--main-navbar-width);
    margin: 2rem auto;
    line-height: 1.5;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    background-image: url('https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg');
    background-position: center;
}

.img-showcase img{
    width: 100%;
    transition: opacity 0.5s;
    display: block;
}
.img-showcase img:hover {
    opacity: 0;
}
.img-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.img-item{
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.3rem 0.1rem;
}

.img-item:hover{
    opacity: 0.8;
}
.img-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.product-content{
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #256eff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h4{
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.product-detail p{
    color: #282c3f;
    line-height: 1.4;
    font-size: 16px;
    margin-top: 12px;
    width: 84%;
}
.product-specifications h4 {
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.product-specifications .index-tableContainer{
    margin-top: 12px;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}


@media screen and (min-width: 1200px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

.index-tableContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.index-tableContainer .index-row {
    position: relative;
    border-bottom: 1px solid #eaeaec;
    margin: 0 0 12px;
    padding-bottom: 10px;
    flex-basis: 40%;
}
.index-tableContainer .index-row .index-rowKey {
    position: relative;
    color: #7e818c;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}
.index-tableContainer .index-row .index-rowValue {
    position: relative;
    color: #282c3f;
    font-size: 16px;
    line-height: 1.2;
}


/* rating */
.index-detailedRatingContainer .index-header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 7px;
    color: #282c3f;
}
.index-detailedRatingContainer .index-margin22 {
    margin-top: 22px;
}
.index-detailedRatingContainer .index-flexRow {
    display: flex;
    flex-direction: row;
}
.index-detailedRatingContainer .index-flexColumn {
    display: flex;
    flex-direction: column;
}
.index-detailedRatingContainer .index-separator {
    margin-left: 34px;
    height: 96px;
    border-left: 1.2px solid #eaeaec;
}
.index-detailedRatingContainer .index-averageRating {
    height: 58px;
    font-size: 48px;
    color: #282c3f;
}

.index-detailedRatingContainer .index-flexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.index-detailedRatingContainer .index-countDesc {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #282c3f;
}
.index-ratingBarContainer {
    margin-left: 46px;
    height: 18px;
}
.index-ratingBarContainer .index-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #a9abb3;
}
.index-ratingBarContainer progress {
    border: none;
    margin-top: 6px;
    width: 120px;
    height: 4px;
    background: none;
}
.index-ratingBarContainer progress::-webkit-progress-bar {
    background: #ddd;
}  
.index-ratingBarContainer progress::-webkit-progress-value {  
  background: #aaa;
} 
.index-ratingBarContainer progress[data-rating="5"]::-webkit-progress-value {
    background: #14958f;
}
.index-ratingBarContainer progress[data-rating="4"]::-webkit-progress-value {
    background: #14958f;
}
.index-ratingBarContainer progress[data-rating="3"]::-webkit-progress-value {
    background: #72bfbc;
}
.index-ratingBarContainer progress[data-rating="2"]::-webkit-progress-value {
    background: #fcb301;
}
.index-ratingBarContainer progress[data-rating="1"]::-webkit-progress-value {
    background: #f16565;
}


.index-ratingBarContainer .index-count {
    font-size: 12px;
    color: #282c3f;
    margin-left: 9px;
}

.ugc-ugcDescriptionTitle {
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.answer-wrapper-AnswerWrapper.answer-wrapper-onlyHighlighted {
    margin: 10px 0;
}
.answer-wrapper-AnswerWrapper {
    margin: 25px 0;
    font-size: 14px;
    color: #3e4152;
}
.answer-AnswerRow {
    margin-bottom: 4px;
}
.answer-AnswerRow .answer-fill-wrapper {
    margin-right: 12px;
    width: 140px;
    height: 4px;
    background-color: #eaeaec;
    position: relative;
    border-radius: 2px;
}
.answer-AnswerRow .answer-caption-wrapper.answer-highlighted {
    font-weight: 700;
}

.answer-AnswerRow .answer-caption-wrapper {
    font-size: 13.5px;
}
.answer-AnswerRow .answer-caption-wrapper, .answer-AnswerRow .answer-fill-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.answer-AnswerRow .answer-fill-wrapper .answer-fill {
    background-color: #03a685;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 2px;
}
.ugc-viewDetails {
    font-size: 14px;
    font-weight: 700;
    color: #ff3f6c;
    margin-top: 10px;
    cursor: pointer;
}
.ugc-ugcContainer.ugc-inPdp {
    display: block;
    margin-top: 20px;
}