
.card-wrapper{
    max-width: var(--main-navbar-width);
    margin: 2rem auto;
    line-height: 1.5;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    background-image: url('https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg');
    background-position: center;
}

.img-showcase img{
    width: 100%;
    transition: opacity 0.5s;
    display: block;
}
.img-showcase img:hover {
    opacity: 0;
}
.img-select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.img-item{
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.3rem 0.1rem;
}

.img-item:hover{
    opacity: 0.8;
}
.img-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.product-content{
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.product-content > .product_content_child{
    padding: 0 0 16px 0;
    border-bottom: 1px solid rgb(228, 227, 227);
}
.product_title .product_heading{
    color: #282c3f;
    font-size: 24px;
    font-weight: 600;
}
.product_title p{
    color: #282c3f;
    font-size: 16px;
    line-height: 2;
}
.product_rating span{
    font-size: 16px;
    font-weight: 400;
    color: #252525;
}
.product_price{
    color: #a8a8a8;
    font-size: 20px;
    line-height: 1.2;
}
.product_price .new_price{
    margin-right: 10px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
.product_price .mrp_price{
    margin-right: 5px;
    color: #c0c0c0;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}
.product_price .off_percent{
    color: #ff8052;
    font-size: 20px;
    font-weight: 700;
}
.content_child_heading{
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.product_detail p{
    color: #282c3f;
    line-height: 1.4;
    font-size: 16px;
    margin-top: 12px;
    width: 84%;
}
.product-specifications h4 {
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.product-specifications .specification_container{
    margin-top: 12px;
}
.purchase_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.purchase_info button{
    text-align: center;
    padding: 12px 40px;
    border: 1px solid rgb(202, 202, 202);
    outline: 0;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.purchase_info span{
    font-size: 18px;
    font-weight: 400;
}
.purchase_info button:hover{
    background: #ff9f21;
}


@media screen and (min-width: 1200px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .product-content{
        padding-top: 0;
    }
}

.specification_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.specification_container .specification_row {
    position: relative;
    border-bottom: 1px solid #eaeaec;
    margin: 0 0 12px;
    padding-bottom: 10px;
    flex-basis: 40%;
}
.specification_container .specification_row .specification_row_key {
    position: relative;
    color: #7e818c;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}
.specification_container .specification_row .specification_row_value {
    position: relative;
    color: #282c3f;
    font-size: 16px;
    line-height: 1.2;
}


/* rating */
.detailed_rating_container .index-header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 7px;
    color: #282c3f;
}
.detailed_rating_container .detailed_rating_parent {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
}
.detailed_rating_container .index-flexRow {
    display: flex;
    flex-direction: row;
}
.detailed_rating_container .average_rating_parent {
    display: flex;
    flex-direction: column;
}
.detailed_rating_container .average_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 58px;
    font-size: 48px;
    color: #282c3f;
}
.detailed_rating_container .average_rating_desc {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #282c3f;
}
.detailed_rating_container .index_separator {
    margin-left: 34px;
    height: 96px;
    border-left: 1.2px solid #eaeaec;
}
.rating_bar_container {
    margin-left: 46px;
    height: 18px;
    display: flex;
    flex-direction: row;
}
.rating_bar_container .index-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: #a9abb3;
}
.rating_bar_container progress {
    border: none;
    margin-top: 6px;
    width: 120px;
    height: 4px;
    background: none;
}
.rating_bar_container progress::-webkit-progress-bar {
    background: #ddd;
}  
.rating_bar_container progress::-webkit-progress-value {  
  background: #aaa;
} 
.rating_bar_container progress[data-rating="5"]::-webkit-progress-value {
    background: #14958f;
}
.rating_bar_container progress[data-rating="4"]::-webkit-progress-value {
    background: #14958f;
}
.rating_bar_container progress[data-rating="3"]::-webkit-progress-value {
    background: #72bfbc;
}
.rating_bar_container progress[data-rating="2"]::-webkit-progress-value {
    background: #fcb301;
}
.rating_bar_container progress[data-rating="1"]::-webkit-progress-value {
    background: #f16565;
}


.rating_bar_container .index-count {
    font-size: 12px;
    color: #282c3f;
    margin-left: 9px;
}

.ugc-ugcDescriptionTitle {
    color: #282c3f;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.answer-wrapper-AnswerWrapper.answer-wrapper-onlyHighlighted {
    margin: 10px 0;
}
.answer-wrapper-AnswerWrapper {
    margin: 25px 0;
    font-size: 14px;
    color: #3e4152;
}
.answer-AnswerRow {
    margin-bottom: 4px;
}
.answer-AnswerRow .answer-fill-wrapper {
    margin-right: 12px;
    width: 140px;
    height: 4px;
    background-color: #eaeaec;
    position: relative;
    border-radius: 2px;
}
.answer-AnswerRow .answer-caption-wrapper.answer-highlighted {
    font-weight: 700;
}

.answer-AnswerRow .answer-caption-wrapper {
    font-size: 13.5px;
}
.answer-AnswerRow .answer-caption-wrapper, .answer-AnswerRow .answer-fill-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.answer-AnswerRow .answer-fill-wrapper .answer-fill {
    background-color: #03a685;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 2px;
}
.ugc-viewDetails {
    font-size: 14px;
    font-weight: 700;
    color: #ff3f6c;
    margin-top: 10px;
    cursor: pointer;
}
.ugc-ugcContainer.ugc-inPdp {
    display: block;
    margin-top: 20px;
}